.App {
  text-align: center;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background:linear-gradient(to top right, rgb(148, 228, 250) , rgb(97, 14, 107));
  font-family: 'Poppins', sans-serif;
  text-shadow: 2px 2px 2px 2px rgba(0,0,0,0.3);
  
}
.innerDiv{
padding: 10%;
}
.searchButton{
  padding: 10px;
  font-size:'5vh';
  height:fit-content;
  width:fit-content;
  cursor: pointer;
  border-radius: 5px;
  border: none;
  outline: none;
  background:linear-gradient(to left, rgb(247, 217, 245) , rgb(241, 177, 248));
  box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.3);
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
